.flow-list {
    width: 100%;
}

.flow-list-item {
    margin-left: 3%;
    margin-right: 3%;

    display: inline-block;
}

.flow-list > :first-child {
    margin-left: 0;
}

.flow-list > :last-child {
    margin-right: 0;
}